<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SMARKIO FEEDBACK</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <!-- <link rel="stylesheet" media="(max-width: 650px)" href="/assets/css/responsible.css"" /> TO-DO-->
</head>
<body>
  <header>
     <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/#" onclick="inProgress()">Sobre</a></li>
      </ul>
     </nav>
  </header>  

   <main>
     <div class="container">
      <%- body %>
     </div>
   </main>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="assets/js/reviews_script.js"></script>
</body>
</html>  