<%- contentFor('body') %>
<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-6">
            Sessão para escrever um comentário
        </div>
        <div class="col-md-6">
            Sessão para receber a listagem e ouvir comentários
        </div>
    </div>
</div>